.fs-i,
em,
i {
  font-style: italic;
}

// n = normal
.fs-n {
  font-style: normal;
}

@media #{$breakpoint-large} {
  .fs-i-l {
    font-style: italic;
  }
  .fs-normal-l {
    font-style: normal;
  }
}
