// you may also be looking for _typography

@each $name, $value in $type-scale {
  .#{$name} {
    font-size: nth($value, 1);
    line-height: (nth($value, 2) / nth($value, 1));
  }
}

.font-inherit {
  font: inherit;
}

@media #{$breakpoint-large} {
  @each $name, $value in $type-scale {
    .#{$name}-l {
      font-size: nth($value, 1);
      line-height: (nth($value, 2) / nth($value, 1));
    }
  }

  .font-inherit-l {
    font: inherit;
  }
}
