.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-base {
  vertical-align: baseline;
}
.va-b {
  vertical-align: bottom;
}

@media #{$breakpoint-large} {
  .va-t-l {
    vertical-align: top;
  }
  .va-m-l {
    vertical-align: middle;
  }
  .va-base-l {
    vertical-align: baseline;
  }
  .va-b-l {
    vertical-align: bottom;
  }
}
