// tachyons is mobile first. build screens in mobile before building
// them for larger screens <3

// .black => black text on all widths
// .black.white-l => black text on mobile, white text on everything else

$breakpoints: (
  l: "screen and (min-width: 481px)"
) !default;

$one-rem: 16px !default;

$grid-columns: 12 !default;

$colors: (
  white: #fff,

  gray-98: #F7F9FA,
  gray-94: #E9ECF0,
  gray-88: #D7DCE0,
  gray-80: #C0C6CC,
  gray-30: #3C444D,
  gray-20: #272D33,
  gray-10: #14171A,

  black: #000,
  transparent: transparent,

  black-05: rgba(0, 0, 0, 0.05),
  black-10: rgba(0, 0, 0, 0.1),
  black-20: rgba(0, 0, 0, 0.2),
  black-40: rgba(0, 0, 0, 0.4),
  black-80: rgba(0, 0, 0, 0.8),

  white-05: rgba(255, 255, 255, 0.05),
  white-10: rgba(255, 255, 255, 0.1),
  white-20: rgba(255, 255, 255, 0.2),
  white-40: rgba(255, 255, 255, 0.4),
  white-80: rgba(255, 255, 255, 0.8),

  primary: #8d1d90,
  primary-hover: #9d3ea0,
  primary-pressed: #69156b,
  primary-disabled: #c68ec7,

  // secondary: #b7de58,
  // secondary-hover: #c1e270,
  // secondary-pressed: #89a641,
  // secondary-disabled: #dbeeab,

  success: #3bb273,       // if this is a bg, use $white text
  success-faded: #EBF7F1, // if this is a bg, use $success or $black text
  warning: #e1bc29,       // if this is a bg, use $white text
  warning-faded: #FCF8E9, // if this is a bg, use $warning or $black text
  error: #e15554,         // if this is a bg, use $white text
  error-faded: #FCEEED,   // if this is a bg, use $error or $black text
  info: #3d70b2,          // if this is a bg, use $white text
  info-faded: #EBF0F7     // if this is a bg, use $info or $black text
);

// classname: (font-size in px, abs. line-height in px)
// this gets turnt into rems
$type-scale: (
  header-1: (
    72px,
    80px
  ),
  header-2: (
    48px,
    64px
  ),
  header-3: (
    32px,
    40px
  ),
  header-4: (
    24px,
    32px
  ),
  header-5: (
    20px,
    32px
  ),
  large: (
    20px,
    32px
  ),
  normal: (
    16px,
    24px
  ),
  small: (
    14px,
    24px
  ),
  caption: (
    12px,
    16px
  )
  /* caption is for fineprint, copyrights and credits only */
) !default;

$letter-spacing-narrow: -0.05em !default;
$letter-spacing-normal: 0 !default;
$letter-spacing-wide: 0.25em !default;

$line-height-solid: 1 !default;
$line-height-title: 1.25 !default;
$line-height-copy: 1.5 !default;

$spacing-base: 0.25rem !default;
$spacing-levels: 7 !default;
$spacing-modifiers: (
  'a': (''),
  'h': ('-left', '-right'),
  'v': ('-top', '-bottom'),
  't': ('-top'),
  'r': ('-right'),
  'b': ('-bottom'),
  'l': ('-left')
) !default;

$height-base: 0.25rem !default;
$height-levels: 7 !default;

$width-base: 0.25rem !default;
$width-levels: 7 !default;

$max-width-base: 0.25rem !default;
$max-width-levels: 10 !default;

$border-radius-base: 0.0625rem !default;
$border-radius-levels: 6 !default;

$border-width-base: 0.0625rem !default;
$border-width-levels: 5 !default;
