/* Align text, or inline-block children */
.taL {
  text-align: left;
}
.taR {
  text-align: right;
}
.taC {
  text-align: center;
}
.taJ {
  text-align: justify;
}

/* Vertically align inline elements with respect to the line */
.vaT {
  vertical-align: top;
}
.vaM {
  vertical-align: middle;
}
.vaB {
  vertical-align: bottom;
}
.vaI {
  vertical-align: initial;
}

/* Floats - please use flexbox for layout - this is here for
wrapping inline text around something */
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
