/* Align text, or inline-block children */
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
.ta-c {
  text-align: center;
}
.ta-j {
  text-align: justify;
}

/* Vertically align inline elements with respect to the line */
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-b {
  vertical-align: bottom;
}
.va-i {
  vertical-align: initial;
}
