/* Align text, or inline-block children */
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tj {
  text-align: justify;
}

/* Vertically align inline elements with respect to the line */
.va-t {
  vertical-align: top;
}
.va-m {
  vertical-align: middle;
}
.va-base {
  vertical-align: baseline;
}
.va-b {
  vertical-align: bottom;
}
