/* Ratios
<div class="ratio ratio-16x9">
  <img class="absolute-fill" src="your-mum.png">
</div> 
*/

.ratio {
  height: 0;
  position: relative;
}

.ratio16x9 {
  padding-bottom: 56.25%;
}
.ratio9x16 {
  padding-bottom: 177.77%;
}

.ratio4x3 {
  padding-bottom: 75%;
}
.ratio3x4 {
  padding-bottom: 133.33%;
}

.ratio3x2 {
  padding-bottom: 66.6%;
}
.ratio2x3 {
  padding-bottom: 150%;
}

.ratio8x5 {
  padding-bottom: 62.5%;
}
.ratio5x8 {
  padding-bottom: 160%;
}

.ratio7x5 {
  padding-bottom: 71.42%;
}
.ratio5x7 {
  padding-bottom: 140%;
}

.ratio1x1 {
  padding-bottom: 100%;
}
