/* Background repeat */
[class^="bg-"],
[class*=" bg-"] {
  background-repeat: no-repeat;
}

.bgRepeat {
  background-repeat: repeat;
}
.bgNoRepeat {
  background-repeat: no-repeat;
}

/* Background positions */
.bgTl {
  background-position: top left;
}
.bgTc,
.bgT {
  background-position: top center;
}
.bgTr {
  background-position: top right;
}

.bgCl,
.bgL {
  background-position: center left;
}
.bgCc,
.bgC {
  background-position: center center;
}
.bgCr,
.bgR {
  background-position: center right;
}

.bgBl {
  background-position: bottom left;
}
.bgBc,
.bgB {
  background-position: bottom center;
}
.bgBr {
  background-position: bottom right;
}

/* Background size */
.bgCover {
  background-size: cover;
}
.bgContain {
  background-size: contain;
}
