// center
.bgp-c {
  background-repeat: no-repeat;
  background-position: center center;
}
// top
.bgp-t {
  background-repeat: no-repeat;
  background-position: top center;
}
// right
.bgp-r {
  background-repeat: no-repeat;
  background-position: center right;
}
// bottom
.bgp-b {
  background-repeat: no-repeat;
  background-position: bottom center;
}
// left
.bgp-l {
  background-repeat: no-repeat;
  background-position: center left;
}
