/* Border colors */
@each $pseudo-class in $pseudo-classes {
  $prefix: nth($pseudo-class, 1);
  $suffix: nth($pseudo-class, 2);

  @each $name, $value in $colors {
    #{$prefix}b-#{$name}#{$suffix} {
      border-color: $value;
    }
  }

  #{$prefix}b-inherit#{$suffix} {
    border-color: inherit;
  }
}
