/* Border-radius:
.br-100 = oval
.br-pill = rounded rectangle
*/

.br-0 {
  border-radius: 0;
}
@for $i from 1 through $border-radius-levels {
  .br-#{$i} {
    border-radius: $border-radius-base * pow(2, ($i - 1));
  }
}
.br-100 {
  border-radius: 100%;
}
.br-pill {
  border-radius: 9999px;
}
.br-b {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.br-t {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.br-r {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.br-l {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
