@each $pseudo-class in $pseudo-classes {
  $prefix: nth($pseudo-class, 1);
  $suffix: nth($pseudo-class, 2);

  #{$prefix}bw0#{$suffix} {
    border-width: 0;
  }
  @for $i from 1 through $border-width-levels {
    $border-width: $border-width-base * pow(2, ($i - 1));

    #{$prefix}bw#{$i}#{$suffix} {
      @if $border-width == 0.0625rem {
        // browsers give useful special treatment to 1px
        border-width: 1px;
      } @else {
        border-width: $border-width;
      }
    }
  }
  /* turn off specific sides */
  #{$prefix}bt0#{$suffix} {
    border-top-width: 0;
  }
  #{$prefix}br0#{$suffix} {
    border-right-width: 0;
  }
  #{$prefix}bb0#{$suffix} {
    border-bottom-width: 0;
  }
  #{$prefix}bl0#{$suffix} {
    border-left-width: 0;
  }
}
