/* Border-radius:
.br100 = oval
.brPill = rounded rectangle
*/

.br0 {
  border-radius: 0;
}
@for $i from 1 through $border-radius-levels {
  .br-#{$i} {
    border-radius: $border-radius-base * pow(2, ($i - 1));
  }
}
.br100 {
  border-radius: 100%;
}
.brPill {
  border-radius: 9999px;
}
.brB {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.brT {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.brR {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.brL {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
