/*
Modifiers:
-none   = none 
-dotted = dotted
-dashed = dashed
-solid  = solid
 */

@include breakify($breakpoints) {
  #{bp()}b-dotted {
    border-style: dotted;
  }
  #{bp()}b-dashed {
    border-style: dashed;
  }
  #{bp()}b-solid {
    border-style: solid;
  }
  #{bp()}b-none {
    border-style: none;
  }
}
