@include breakify($breakpoints) {
  #{bp()}bw0 {
    border-width: 0;
  }
  @for $i from 1 through $border-width-levels {
    #{bp()}bw#{$i} {
      border-width: $border-width-base * pow(2, ($i - 1));
    }
  }
  /* turn off specific sides */
  #{bp()}bt0 {
    border-top-width: 0;
  }
  #{bp()}br0 {
    border-right-width: 0;
  }
  #{bp()}bb0 {
    border-bottom-width: 0;
  }
  #{bp()}bl0 {
    border-left-width: 0;
  }
}
