/*
Tip:
  If you haven't declared a border color, but set border on an element,
  it will be set to the current text color.
*/

/* Text colors */
// e.g. .black   => color: map-get($colors, black);
//      .primary => color: map-get($colors, primary);
@each $name, $value in $colors {
  .#{$name} {
    color: $value;
  }
}
.color-inherit {
  color: inherit;
}

/* Background colors */
// e.g. .bg-black   => background-color: map-get($colors, black);
//.     .bg-primary => background-color: map-get($colors, primary);
@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: $value;
  }
}
.bg-inherit {
  background-color: inherit;
}
