/* Colors (text + background) */
@each $pseudo-class in $pseudo-classes {
  $prefix: nth($pseudo-class, 1);
  $suffix: nth($pseudo-class, 2);

  @each $name, $value in $colors {
    #{$prefix}#{$name}#{$suffix} {
      color: $value;
    }
  }
  #{$prefix}color-inherit#{$suffix} {
    color: inherit;
  }

  @each $name, $value in $colors {
    #{$prefix}bg-#{$name}#{$suffix} {
      background-color: $value;
    }
  }
  #{$prefix}bg-inherit#{$suffix} {
    background-color: inherit;
  }
}
