/* 
Base:
 top
 bottom
 right
 left

Modifiers: 
 -0  = literal value 0
 -1  = literal value 1
 -2  = literal value 2
 --1 = literal value -1
 --2 = literal value -2
*/

@include breakify($breakpoints) {
  #{bp()}top-0 {
    top: 0;
  }
  #{bp()}right-0 {
    right: 0;
  }
  #{bp()}bottom-0 {
    bottom: 0;
  }
  #{bp()}left-0 {
    left: 0;
  }

  #{bp()}top-1 {
    top: 1rem;
  }
  #{bp()}right-1 {
    right: 1rem;
  }
  #{bp()}bottom-1 {
    bottom: 1rem;
  }
  #{bp()}left-1 {
    left: 1rem;
  }

  #{bp()}top-2 {
    top: 2rem;
  }
  #{bp()}right-2 {
    right: 2rem;
  }
  #{bp()}bottom-2 {
    bottom: 2rem;
  }
  #{bp()}left-2 {
    left: 2rem;
  }

  #{bp()}top--1 {
    top: -1rem;
  }
  #{bp()}right--1 {
    right: -1rem;
  }
  #{bp()}bottom--1 {
    bottom: -1rem;
  }
  #{bp()}left--1 {
    left: -1rem;
  }

  #{bp()}top--2 {
    top: -2rem;
  }
  #{bp()}right--2 {
    right: -2rem;
  }
  #{bp()}bottom--2 {
    bottom: -2rem;
  }
  #{bp()}left--2 {
    left: -2rem;
  }

  #{bp()}absolute--fill {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
