/* Display */
@include breakify($breakpoints) {
  #{extend()}di {
    display: inline;
  }
  #{extend()}db {
    display: block;
  }
  #{extend()}dib {
    display: inline-block;
  }
  #{extend()}dfx {
    display: flex;
  }
  #{extend()}difx {
    display: inline-flex;
  }
  #{extend()}dn {
    display: none;
  }
}
