/* Display */
@include breakify($breakpoints) {
  #{bp()}di {
    display: inline;
  }
  #{bp()}db {
    display: block;
  }
  #{bp()}dib {
    display: inline-block;
  }
  #{bp()}dfx {
    display: flex;
  }
  #{bp()}difx {
    display: inline-flex;
  }

  // make sure this is last, so it can override others
  #{bp()}dn {
    display: none;
  }
}
