@include breakify($breakpoints) {
  #{bp()}dfx {
    display: flex;
  }
  #{bp()}difx {
    display: inline-flex;
  }

  /*
    .fx-abc {
      flex: a b c;
      // a = flex-grow
      // b = flex-shrink
      // c = flex-basis
    }

    a: {0, 1}
    b: {0, 1}
    c: {0, a} (where a is short for auto)
  */
  #{bp()}fx-11a {
    flex: 1 1 auto;
    min-width: 1px; // needed to fix chrome 44 bug
    min-height: 1px; // needed to fix chrome 44 bug
  }
  #{bp()}fx-10a {
    flex: 1 0 auto;
    min-width: 1px; // needed to fix chrome 44 bug
    min-height: 1px; // needed to fix chrome 44 bug
  }
  #{bp()}fx-01a {
    flex: 0 1 auto;
    min-width: 1px; // needed to fix chrome 44 bug
    min-height: 1px; // needed to fix chrome 44 bug
  }
  #{bp()}fx-00a {
    flex: 0 0 auto;
    min-width: 1px; // needed to fix chrome 44 bug
    min-height: 1px; // needed to fix chrome 44 bug
  }
  #{bp()}fx-1-1-0 {
    flex: 1 1 0;
  }
  #{bp()}fx-1-0-0 {
    flex: 1 0 0;
  }
  #{bp()}fx-0-1-0 {
    flex: 0 1 0;
  }
  #{bp()}fx-0-0-0 {
    flex: 0 0 0;
  }

  #{bp()}fx-grow-max {
    flex-grow: 2147483647;
  }
  #{bp()}fx-shrink-max {
    flex-shrink: 2147483647;
  }

  #{bp()}fx-column {
    flex-direction: column;
  }
  #{bp()}fx-row {
    flex-direction: row;
  }
  #{bp()}fx-wrap {
    flex-wrap: wrap;
  }
  #{bp()}fx-nowrap {
    flex-wrap: nowrap;
  }
  #{bp()}fx-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  #{bp()}fx-column-reverse {
    flex-direction: column-reverse;
  }
  #{bp()}fx-row-reverse {
    flex-direction: row-reverse;
  }

  #{bp()}items-start {
    align-items: flex-start;
  }
  #{bp()}items-end {
    align-items: flex-end;
  }
  #{bp()}items-center {
    align-items: center;
  }
  #{bp()}items-baseline {
    align-items: baseline;
  }
  #{bp()}items-stretch {
    align-items: stretch;
  }

  #{bp()}self-start {
    align-self: flex-start;
  }
  #{bp()}self-end {
    align-self: flex-end;
  }
  #{bp()}self-center {
    align-self: center;
  }
  #{bp()}self-baseline {
    align-self: baseline;
  }
  #{bp()}self-stretch {
    align-self: stretch;
  }

  #{bp()}justify-start {
    justify-content: flex-start;
  }
  #{bp()}justify-end {
    justify-content: flex-end;
  }
  #{bp()}justify-center {
    justify-content: center;
  }
  #{bp()}justify-between {
    justify-content: space-between;
  }
  #{bp()}justify-around {
    justify-content: space-around;
  }

  #{bp()}content-start {
    align-content: flex-start;
  }
  #{bp()}content-end {
    align-content: flex-end;
  }
  #{bp()}content-center {
    align-content: center;
  }
  #{bp()}content-between {
    align-content: space-between;
  }
  #{bp()}content-around {
    align-content: space-around;
  }
  #{bp()}content-stretch {
    align-content: stretch;
  }

  #{bp()}o-0 {
    order: 0;
  }
  #{bp()}o-1 {
    order: 1;
  }
  #{bp()}o-2 {
    order: 2;
  }
  #{bp()}o-3 {
    order: 3;
  }
  #{bp()}o-4 {
    order: 4;
  }
  #{bp()}o-5 {
    order: 5;
  }
  #{bp()}o-6 {
    order: 6;
  }
  #{bp()}o-7 {
    order: 7;
  }
  #{bp()}o-8 {
    order: 8;
  }
  #{bp()}o-last {
    order: 99999;
  }
}
