/*
  .dfx => display: flex;
  .difx => display: inline-flex;
   (they are in _display.scss)

  .fxabc {
    flex: a b c;
    // a = flex-grow
    // b = flex-shrink
    // c = flex-basis
  }

  a: {0, 1}
  b: {0, 1}
  c: {0, a} (where a is short for auto)
*/
.fx11a {
  flex: 1 1 auto;
  min-width: 1px; // flexbug #1
  min-height: 1px; // flexbug #1
}
.fx10a {
  flex: 1 0 auto;
  min-width: 1px; // flexbug #1
  min-height: 1px; // flexbug #1
}
.fx01a {
  flex: 0 1 auto;
  min-width: 1px; // flexbug #1
  min-height: 1px; // flexbug #1
}
.fx00a {
  flex: 0 0 auto;
  min-width: 1px; // flexbug #1
  min-height: 1px; // flexbug #1
}
.fx110 {
  flex: 1 1 0%; // 0% instead of 0: flexbug #4
}
.fx100 {
  flex: 1 0 0%; // 0% instead of 0: flexbug #4
}
.fx010 {
  flex: 0 1 0%; // 0% instead of 0: flexbug #4
}
.fx000 {
  flex: 0 0 0%; // 0% instead of 0: flexbug #4
}

.fxCol {
  flex-direction: column;
}
.fxColRev {
  flex-direction: column-reverse;
}
.fxRowRev {
  flex-direction: row-reverse;
}
.fxWrap {
  flex-wrap: wrap;
}
.fxWrapRev {
  flex-wrap: wrap-reverse;
}

.fxItemsStart {
  align-items: flex-start;
}
.fxItemsEnd {
  align-items: flex-end;
}
.fxItemsCenter {
  align-items: center;
}
.fxItemsBaseline {
  align-items: baseline;
}
.fxItemsStretch {
  align-items: stretch;
}

.fxSelfStart {
  align-self: flex-start;
}
.fxSelfEnd {
  align-self: flex-end;
}
.fxSelfCenter {
  align-self: center;
}
.fxSelfBaseline {
  align-self: baseline;
}
.fxSelfStretch {
  align-self: stretch;
}

.fxJustifyStart {
  justify-content: flex-start;
}
.fxJustifyEnd {
  justify-content: flex-end;
}
.fxJustifyCenter {
  justify-content: center;
}
.fxJustifyBetween {
  justify-content: space-between;
}
.fxJustifyEvenly {
  justify-content: space-evenly;
}

.fxContentStart {
  align-content: flex-start;
}
.fxContentEnd {
  align-content: flex-end;
}
.fxContentCenter {
  align-content: center;
}
.fxContentBetween {
  align-content: space-between;
}
.fxContentStretch {
  align-content: stretch;
}

.fxBefore {
  order: 1;
}
.fxAfter {
  order: 2;
}
