// no font weights < 400, poor accessibility

// n = normal
.fw-n {
  font-weight: 400;
}
// b = bold
.fw-b,
strong,
b {
  font-weight: 600; // <- intentionally 600 and not 700
}

@media #{$breakpoint-large} {
  .fw-n-l {
    font-weight: 400;
  }
  .fw-b-l {
    font-weight: 600;
  }
}
