// You should not need the height attribute very often.
// Sizing things by the contents and their line-heights using flexbox is
// much better practice, as it is more responsive to component width change

// You may want _aspect-ratios.scss instead

@include breakify($breakpoints) {
  /* Height Scale */
  #{bp()}h0 {
    height: 0;
  }
  @for $i from 1 through $height-levels {
    #{bp()}h#{$i} {
      height: $height-base * pow(2, ($i - 1));
    }
  }

  #{bp()}h-100 {
    height: 100%;
  }
  #{bp()}min-h-100 {
    min-height: 100%;
  }

  #{bp()}vh-100 {
    height: 100vh;
  }

  #{bp()}min-vh-100 {
    min-height: 100vh;
  }

  /* String Properties */
  #{bp()}h-auto {
    height: auto;
  }
  #{bp()}h-inherit {
    height: inherit;
  }
}
