// You should not need the height attribute very often.
// Sizing things by the contents and their line-heights using flexbox is
// much better practice, as it is more responsive to component width change

// You may want _aspect-ratios.scss instead

/* Height Scale */
.h0 {
  height: 0;
}
@for $i from 1 through $height-levels {
  .h#{$i} {
    height: $height-base * pow(2, ($i - 1));
  }
  @if $i != $height-levels {
    .h#{$i}-5 {
      height: 1.5 * $height-base * pow(2, ($i - 1));
    }
  }
}

.h100 {
  height: 100%;
}
.minH100 {
  min-height: 100%;
}

.vh100 {
  height: 100vh;
}

.minVh100 {
  min-height: 100vh;
}

/* String Properties */
.hAuto {
  height: auto;
}
.hInherit {
  height: inherit;
}
