// probably will add some sweet stuff here soon

@include breakify($breakpoints) {
  #{bp()}cursor-pointer {
    cursor: pointer;
  }

  #{bp()}cursor-default {
    cursor: default;
  }

  #{bp()}underline-hover:hover {
    text-decoration: underline;
  }
}
