@include breakify($breakpoints) {
  #{bp()}ls-narrow {
    letter-spacing: $letter-spacing-narrow;
  }
  #{bp()}ls-normal {
    letter-spacing: $letter-spacing-normal;
  }
  #{bp()}ls-wide {
    letter-spacing: $letter-spacing-wide;
  }
}
