@include breakify($breakpoints) {
  #{bp()}tracked {
    letter-spacing: $letter-spacing-1;
  }
  #{bp()}tracked-tight {
    letter-spacing: $letter-spacing-tight;
  }
  #{bp()}tracked-mega {
    letter-spacing: $letter-spacing-2;
  }
}
