// This should be a bit better probably

@include breakify($breakpoints) {
  #{bp()}link {
    text-decoration: none;
    transition: color 0.15s ease-in;
  }

  #{bp()}link:link,
  #{bp()}link:visited {
    transition: color 0.15s ease-in;
  }
  #{bp()}link:hover {
    transition: color 0.15s ease-in;
  }
  #{bp()}link:active {
    transition: color 0.15s ease-in;
  }
  #{bp()}link:focus {
    transition: color 0.15s ease-in;
    outline: 1px dotted currentColor;
  }
}
