/* Max Width Scale */
.mw0, .mw-0 {
  max-width: 0;
}
@for $i from 1 through $max-width-levels {
  .mw#{$i} {
    max-width: $max-width-base * pow(2, ($i - 1));
  }
  @if $i != $max-width-levels {
    .mw#{$i}-5 {
      max-width: 1.5 * $max-width-base * pow(2, ($i - 1));
    }
  }
}

/* Percentage Max Widths */
@for $i from 1 through $grid-columns {
  .mw-#{$i}-#{$grid-columns} {
    max-width: #{100% * $i / $grid-columns};
  }
}
.mw-100 {
  max-width: 100%;
}

/* Max Width String Properties */
.mw-none {
  max-width: none;
}
