// min widths
.nw0,
.nw-0 {
  min-width: 0;
}
@for $i from 1 through $min-width-levels {
  .nw#{$i} {
    min-width: pow(2, ($i - 1)) * $min-width-base;
  }
  @if $i != $min-width-levels {
    .nw#{$i}-5 {
      min-width: pow(2, ($i - 1)) * $min-width-base * 1.5;
    }
  }
}
@for $i from 1 through $grid-columns {
  .nw-#{$i}-#{$grid-columns} {
    min-width: #{100% * $i / $grid-columns};
  }
}
.nw-100 {
  min-width: 100%;
}
.nw-auto {
  min-width: auto;
}
