/* Overflow */
@each $pseudo-class in $pseudo-classes {
  $prefix: nth($pseudo-class, 1);
  $suffix: nth($pseudo-class, 2);

  #{$prefix}overflow-visible#{$suffix} {
    overflow: visible;
  }
  #{$prefix}overflow-hidden#{$suffix} {
    overflow: hidden;
  }
  #{$prefix}overflow-scroll#{$suffix} {
    overflow: scroll;
  }
  #{$prefix}overflow-auto#{$suffix} {
    overflow: auto;
  }

  #{$prefix}overflow-x-visible#{$suffix} {
    overflow-x: visible;
  }
  #{$prefix}overflow-x-hidden#{$suffix} {
    overflow-x: hidden;
  }
  #{$prefix}overflow-x-scroll#{$suffix} {
    overflow-x: scroll;
  }
  #{$prefix}overflow-x-auto#{$suffix} {
    overflow-x: auto;
  }

  #{$prefix}overflow-y-visible#{$suffix} {
    overflow-y: visible;
  }
  #{$prefix}overflow-y-hidden#{$suffix} {
    overflow-y: hidden;
  }
  #{$prefix}overflow-y-scroll#{$suffix} {
    overflow-y: scroll;
  }
  #{$prefix}overflow-y-auto#{$suffix} {
    overflow-y: auto;
  }
}
