@include breakify($breakpoints) {
  #{bp()}overflow-visible {
    overflow: visible;
  }
  #{bp()}overflow-hidden {
    overflow: hidden;
  }
  #{bp()}overflow-scroll {
    overflow: scroll;
  }
  #{bp()}overflow-auto {
    overflow: auto;
  }

  #{bp()}overflow-x-visible {
    overflow-x: visible;
  }
  #{bp()}overflow-x-hidden {
    overflow-x: hidden;
  }
  #{bp()}overflow-x-scroll {
    overflow-x: scroll;
  }
  #{bp()}overflow-x-auto {
    overflow-x: auto;
  }

  #{bp()}overflow-y-visible {
    overflow-y: visible;
  }
  #{bp()}overflow-y-hidden {
    overflow-y: hidden;
  }
  #{bp()}overflow-y-scroll {
    overflow-y: scroll;
  }
  #{bp()}overflow-y-auto {
    overflow-y: auto;
  }
}

