@include breakify($breakpoints) {
  #{bp()}static {
    position: static;
  }
  #{bp()}relative {
    position: relative;
  }
  #{bp()}absolute {
    position: absolute;
  }
  #{bp()}fixed {
    position: fixed;
  }
}
