/* 
SPACING (padding + margin)

Base:
 p = padding
 m = margin

Modifiers:
 a = all
 t = top
 r = right
 b = bottom
 l = left
*/

@each $modifier, $values in $spacing-modifiers {
  /* PADDING */
  .p#{$modifier}0 {
    @each $value in $values {
      padding#{$value}: 0;
    }
  }
  @for $i from 1 through $spacing-levels {
    .p#{$modifier}#{$i} {
      @each $value in $values {
        padding#{$value}: $spacing-base * pow(2, ($i - 1));
      }
    }
  }

  /* MARGINS */
  .m#{$modifier}0 {
    @each $value in $values {
      margin#{$value}: 0;
    }
  }
  @for $i from 1 through $spacing-levels {
    .m#{$modifier}#{$i} {
      @each $value in $values {
        margin#{$value}: $spacing-base * pow(2, ($i - 1));
      }
    }
  }


  /* NEGATIVE MARGINS */
  @for $i from 1 through $spacing-levels {
    .m#{$modifier}-#{$i} {
      @each $value in $values {
        margin#{$value}: -$spacing-base * pow(2, ($i - 1));
      }
    }
  }
}

/* COORDINATES */
$coords: ('top', 'left', 'bottom', 'right');
@each $dir in $coords {
  $dir-first-letter: str-slice($dir, 0, 1);

  .#{$dir-first-letter}0 {
    #{$dir}: 0;
  }
  .#{$dir-first-letter}-50 {
    #{$dir}: 50%;
  }
  .#{$dir-first-letter}-100 {
    #{$dir}: 100%;
  }
  @for $i from 1 through $spacing-levels {
    .#{$dir-first-letter}#{$i} {
      #{$dir}: $spacing-base * pow(2, ($i - 1));
    }
  }
}
