@include breakify($breakpoints) {
  #{bp()}strikethrough {
    text-decoration: line-through;
  }
  #{bp()}underline {
    text-decoration: underline;
  }
  #{bp()}no-underline {
    text-decoration: none;
  }
}
