@include breakify($breakpoints) {
  #{bp()}tl {
    text-align: left;
  }
  #{bp()}tr {
    text-align: right;
  }
  #{bp()}tc {
    text-align: center;
  }
  #{bp()}tj {
    text-align: justify;
  }
}
