@include breakify($breakpoints) {
  #{bp()}ttc {
    text-transform: capitalize;
  }
  #{bp()}ttl {
    text-transform: lowercase;
  }
  #{bp()}ttu {
    text-transform: uppercase;
  }
  #{bp()}ttn {
    text-transform: none;
  }
}
