// you may also be looking for _typography
@include breakify($breakpoints) {
  @each $name, $value in $type-scale {
    #{bp()}#{$name} {
      font-size: nth($value, 1);
      line-height: (nth($value, 2) / nth($value, 1));
    }
  }

  #{bp()}font-inherit {
    font: inherit;
  }
}
