// you may also be looking for _type-scale

@include breakify($breakpoints) {
  #{bp()}indent {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }

  #{bp()}small-caps {
    font-variant: small-caps;
  }

  #{bp()}truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
