/* Utilities */
.hCenter {
  margin-right: auto;
  margin-left: auto;
}

.mrAuto {
  margin-right: auto;
}
.mlAuto {
  margin-left: auto;
}

.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); // gpu accel if possible
  transform: translate(-50%, -50%);
}

.absoluteFill {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pointerNone {
  pointer-events: none;
}

.pointerAll {
  pointer-events: all;
}

/* for creating custom focus states */
.focus_noOutline:focus {
  outline: 0;
}

.noSelect {
  user-select: none;
}
