@include breakify($breakpoints) {
  #{bp()}va-t {
    vertical-align: top;
  }
  #{bp()}va-m {
    vertical-align: middle;
  }
  #{bp()}va-base {
    vertical-align: baseline;
  }
  #{bp()}va-b {
    vertical-align: bottom;
  }
}
