// Invisible for sighted folk, but there for screen-readers
.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  clip: rect(1px, 1px, 1px, 1px);
}

.hidden {
  visibility: hidden;
}
