@include breakify($breakpoints) {
  #{bp()}ws-normal {
    white-space: normal;
  }
  #{bp()}nowrap {
    white-space: nowrap;
  }
  #{bp()}pre {
    white-space: pre;
  }
  #{bp()}pre-wrap {
    white-space: pre-wrap;
  }
}
