/* Width Scale */
.w0,
.w0 {
  width: 0;
}
@for $i from 1 through $width-levels {
  .w#{$i} {
    width: pow(2, ($i - 1)) * $width-base;
  }
  @if $i != $width-levels {
    .w#{$i}-5 {
      width: pow(2, ($i - 1)) * $width-base * 1.5;
    }
  }
}

/* Percentage Widths */
@for $i from 1 through $grid-columns {
  .w-#{$i}-#{$grid-columns} {
    width: #{100% * $i / $grid-columns};
  }
}
.w100 {
  width: 100%;
}

.wAuto {
  width: auto;
}
