/* Width Scale */
.w0, .w-0 {
  width: 0;
}
@for $i from 1 through $width-levels {
  .w#{$i} {
    width: pow(2, ($i - 1)) * $width-base;
  }
}

/* Percentage Widths */
@for $i from 1 through $grid-columns {
  .w-#{$i}-#{$grid-columns} {
    width: #{100% * $i / $grid-columns};
  }
}
.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}
