@include breakify($breakpoints) {
  /* Width Scale */
  #{bp()}w1 {
    width: $width-1;
  }
  #{bp()}w2 {
    width: $width-2;
  }
  #{bp()}w3 {
    width: $width-3;
  }
  #{bp()}w4 {
    width: $width-4;
  }
  #{bp()}w5 {
    width: $width-5;
  }

  /* Width Percentages */
  #{bp()}w-10 {
    width: 10%;
  }
  #{bp()}w-20 {
    width: 20%;
  }
  #{bp()}w-25 {
    width: 25%;
  }
  #{bp()}w-30 {
    width: 30%;
  }
  #{bp()}w-33 {
    width: 33%;
  }
  #{bp()}w-34 {
    width: 34%;
  }
  #{bp()}w-40 {
    width: 40%;
  }
  #{bp()}w-50 {
    width: 50%;
  }
  #{bp()}w-60 {
    width: 60%;
  }
  #{bp()}w-70 {
    width: 70%;
  }
  #{bp()}w-75 {
    width: 75%;
  }
  #{bp()}w-80 {
    width: 80%;
  }
  #{bp()}w-90 {
    width: 90%;
  }
  #{bp()}w-100 {
    width: 100%;
  }

  #{bp()}w-third {
    width: (100% / 3);
  }
  #{bp()}w-two-thirds {
    width: (100% / 1.5);
  }
  #{bp()}w-auto {
    width: auto;
  }
}
